body {
    margin: 0;
    padding: 0;
    background: url(img/fondo_de_pagina.jpg);
    background-size: 100%;
}

header {
    margin: 0 auto;
    padding: 0 auto;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    color: burlywood
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 0 auto;
}

.titulo2 {
    text-align: center;
    background-color: lightgoldenrodyellow;
}

h2 {
    color:navy ;
}

header h2 {
    text-align: center;  
    color: burlywood;
}

footer {
    background-color: burlywood;
    margin: 0 auto;
    padding: 1.2%;
    color: azure;
}
footer a {
    color: blue;
    font-size: 1.5rem;
    float: right;
}

/*footer p {
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;
}
*/
footer section {
    margin: 0;
    padding: 0;
    text-align: center;
}